@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}

body {height: 400vh;}

.parallax{position: fixed; width: 100%; height: 500px;}

.parallax:nth-child(1) {}
.parallax:nth-child(2) {}
.parallax:nth-child(3) {}
.parallax:nth-child(4) {}